---
import Layout from "../../../../layouts/Layout.astro";
import {
  getLangFromUrl,
  getRouteFromUrl,
  useTranslations,
  useTranslatedPath,
type LangType
} from "../../../../i18n/utils";

import { ETERNAL_PURPOSE_CATECHESIS } from "../../../../i18n/catechesis/booklet/eternal-purpose";
import VerseCard from "../../../../components/VerseCard.astro";
import PreviousNextButtons from "../../../../components/PreviousNextButtons.astro";

const lang = getLangFromUrl(Astro.url);
const route = getRouteFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const path = translatePath(`${route ? route : ""}`, lang as LangType);

const data = ETERNAL_PURPOSE_CATECHESIS[lang].find(
  ({ pathname }) =>
     pathname === path.replace(/^\/[a-zA-Z]{2}/g, "")
);

const t = useTranslations(lang);
---

<Layout title={t("home.title") + " | " + data?.title}>
  <div class="flex flex-col w-full justify-between gap-4 md:gap-12">
    <div class="flex justify-center gap-4 flex-wrap">
      {
        data?.verses.map(({ book, chapter, verse, content }) => (
          <VerseCard
            title={data?.title}
            subtitle={data?.subtitle}
            book={book}
            chapter={chapter}
            verse={verse}
            content={content}
          />
        ))
      }
    </div>

    <PreviousNextButtons previousLink={data?.previous} nextLink={data?.next} />
  </div>
</Layout>
