---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
  getRouteFromUrl,
} from "../i18n/utils";
import { routes } from "../i18n/routes/routes";
import MenuButton from "./MenuButton.astro";
import MultiLevelMenu from "./MultiLevelMenu.astro";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const t = useTranslations(lang);

const route = getRouteFromUrl(Astro.url);

const teachingRoute = routes[lang]["/teaching"];
const songsRoute = routes[lang]["/songs"];
const catechesisRouteEnglish = routes["en"]["/catechesis"];
const teachingRouteEnglish = routes["en"]["/teaching"];
const songsRouteEnglish = routes["en"]["/songs"];
---

<div role="presentation" class="fixed z-50 inset-0 invisible">
  <div
    id="backdrop"
    class="fixed invisible opacity-0 -z-[1] inset-0 transition-opacity bg-black/50"
  >
  </div>
  <div
    id="drawer"
    class="fixed invisible inset-0 transition-transform w-72 h-full z-50 bg-white -translate-x-72 shadow-md p-4"
  >
    <div class="mb-6">
      <img
        src="/main-icon-lg.webp"
        class="h-16"
        alt="catechesis book"
        width="261"
        height="64"
      />
    </div>
    <nav class="h-full">
      <ul class="flex flex-col gap-2 ml-auto text-xl items-start">
        <li>
          <MenuButton
            title={t("nav.whoWeAre")}
            href={translatePath("/")}
            shouldHighlight={route === undefined}
          />
        </li>
        <li>
          <MenuButton
            title={t("nav.teaching")}
            href={translatePath(teachingRoute)}
            shouldHighlight={route?.startsWith(teachingRouteEnglish)}
          />
        </li>
        <li>
          <MultiLevelMenu
            shouldHighlight={route?.startsWith(catechesisRouteEnglish)}
          />
        </li>
        <li>
          <MenuButton
            title={t("nav.songs")}
            href={translatePath(songsRoute)}
            shouldHighlight={route?.startsWith(songsRouteEnglish)}
          />
        </li>
      </ul>
    </nav>
  </div>
</div>
